.button--root {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.button--root.wide {
  width: 50%;
}

.button--root button {
  background-color: #e0e0e0;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.button--root:last-child button {
  margin-right: 0;
}

.button--root.operator button {
  background-color: #008040;
  color: white;
}
